@import "../node_modules/bulma/css/bulma.css";
body {
  margin: 0;
  font-family: 'Dosis'
}
#devSubtitle{
  text-decoration: underline;
  display: inline;
  color: white;
}

#cnellNavbar, #cnellSection {
  background-color: black;
}

.PINK {
  color: #f0048c;
}
.SHADOW {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


